BluetoothAttendanceSystem/Platforms/iOS/
BluetoothAttendanceSystem/Platforms/MacCatalyst/
BluetoothAttendanceSystem/Platforms/Tizen/
BluetoothAttendanceSystem/Platforms/Windows/
BluetoothAttendanceSystem/obj/
BluetoothAttendanceSystem/bin/
